.header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 2;
  background-color: var(--bg-primary);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-right: clamp(1.2rem, 4vw, 4.3rem);
  padding-bottom: 1.2rem;
  padding-left: clamp(1.2rem, 4vw, 4.3rem);
}

.logo {
  transition: opacity 0.4s ease;

  &:hover,
  &:focus-visible {
    @media (min-width: 1280px) {
      opacity: 0.7;
    }
  }

  @media (min-width: 1280px) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.logoImage {
  width: 50px;
  height: auto;

  @media (min-width: 1280px) {
    width: 90px;
  }
}

.logoCaption {
  display: none;

  @media (min-width: 1280px) {
    display: block;
    font-size: 1.4rem;
    font-family: var(--logo-font);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.nav {
  @media (min-width: 800px) {
    width: 70%;
    max-width: 700px;
    margin-right: -10px;
  }
}

.navList {
  display: none;

  @media (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

.navLink {
  @media (min-width: 800px) {
    padding: 10px;
    font-size: 1.2rem;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
            color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  @media (min-width: 1280px) {
    font-size: 1.4rem;
    transition:
      border-color 0.4s ease,
      opacity 0.4s ease;

    &:hover,
    &:focus-visible {
      @media (min-width: 1280px) {
        border: 1px solid var(--color-primary);
        opacity: 0.7;
      }
    }
  }
}

.navLink[aria-current='page'] {
  border: 1px solid var(--color-primary);
  opacity: 1;
}

.burger {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  background: url('../assets/icons/burger-open.svg') center / 20px 12px no-repeat;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  transition: background-color 0.4s ease;

  @media (min-width: 800px) {
    display: none;
  }
}
