.footer {
  text-align: center;
  padding: 2.5rem 1.2rem 1.2rem;

  @media (min-width: 600px) {
    text-align: right;
  }

  @media (min-width: 800px) {
    padding: 3rem 1.7rem 1.7rem;
  }

  @media (min-width: 1280px) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 3rem 1.7rem;
  }
}

.footerUnitWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin: 0 0 1.2rem;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem;
  }

  @media (min-width: 800px) {
    margin: 0 0 2.5rem;
  }
}

.logoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoCaption {
  font-family: var(--logo-font);
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.copyright {
  font-weight: 300;
}
